@charset "UTF-8";
/* CSS Document */
.info {
	text-align: center;
}
ul {
	text-align: center;
}
.field .textarea .small{
max-width: 600px;
}
input.small, select.small{
    text-align: center;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file{
    text-align: center;
}
